#add-emp-container{
    display: flex;
    flex-direction: column;
    border: 5px solid  red;
    height: 700px;
   
  
}

#add-emp-form{
    display : flex;
    flex-direction: column;
    padding: 6%;
   align-items: center;
    
}

#add-emp-form label {
    margin: 2%;
   
}

#add-emp-form input{
    width: 50%;
   
}

#add-emp-form button{
    margin-top: 4%;
    width: 50%;
}